name: Quality and tests

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

env:
  RUST_BACKTRACE: 1

jobs:

  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true

      - name: Build
        run: cargo build --all-targets --all-features
      - name: Run tests
        run: cargo test --all-targets --all-features

  quality:
    name: Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt
      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true
      - uses: taiki-e/install-action@v2
        with:
          tool: cargo-hack,cargo-machete,cargo-udeps

      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Cache pre-commit environment
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: poetry check --lock
      - run: poetry sync --no-interaction -vvv

      - run: make quality
      - run: make check-all-features

      - uses: dtolnay/rust-toolchain@nightly
      - run: make udeps
