name: Tests

on:
  push:
    branches: [main, cicd]
  pull_request:
    branches: [main]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        rust: [1.82.0, stable, beta, nightly]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}

      - uses: Swatinem/rust-cache@v2
        with:
          cache-all-crates: true

      - name: Run tests
        run: cargo test --verbose --all-features

      - name: Run tests in release mode
        run: cargo test --release --verbose --all-features

      - name: Run doc tests
        run: cargo test --doc --verbose --all-features
